/* Navbar Styles */

.header{
    
    background-image: url(./Images/Hero-bg.png);
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    
}
nav > ul > li{
    list-style: none;
}
.logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 50px;
}

/* Head section Added */
.head-section{
    text-align: center;
    /* font-size: larger; */
    padding: 30px;
    
}
.heading{
   font-weight: bolder;
   font-size: 62px;
}
.btn{
    font-weight: bold;
    font-size: larger;
    padding: 15px;
    border-radius: 10px;
}

/* Live Preview Section styles */

.live-preview{
    display: flex;
    justify-content: space-around;
}
.right-preview{
    align-content: center;
}

/* Form Section */

.form{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.footer-column{
    display: block;
}
